body {
    background: #312e2e;
}
.container {
    border: black 1px solid;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: aliceblue;
    h1 {
        font-weight: bold;
        color: black;
    }
    button {
        padding: 10px 15px;
        border-radius: 7px;
        outline: none;
        background: aliceblue;
        font-weight: bold;
        font-size: 15px;
        color: #312e2e;
        transition: 0.3s;
        border: #00c6e6 solid 2px ;
    }
    button:hover {
        cursor: pointer;
        background: black;
        color: #00c6e6;
        border: black 2px solid;
    }
}